<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiamen.www.myapplication3">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">

         <!--<activity android:name=".kotlin.view.activity.MainActivity">-->
         <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->


        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".kotlin.view.activity.PersonCenterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".kotlin.view.activity.SettingsActivity" />
        <activity android:name=".kotlin.view.activity.SignCenterActivity" />
        <!-- <activity android:name=".kotlin.view.activity.MyMainActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->


        <!-- </activity> -->


        <!-- <activity android:name=".kotlin.view.activity.LoginRegisterActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <!--<activity android:name=".kotlin.view.activity.PersonCenterActivity" />-->

        <!-- <activity android:name=".kotlin.view.activity.TestActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- <activity android:name=".kotlin.rxjava.Main5Activity"> -->


        <!-- </activity> -->
        <!-- <activity android:name=".kotlin.viewmodel.Main6Activity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!--<activity-->
            <!--android:name=".kotlin.view.activity.Main7Activity"-->
            <!--android:label="@string/title_activity_main7"></activity>-->
    </application>

</manifest>